{% extends 'bootstrap/base.html' %}

{% block head %}
{{super()}}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/' + 'favicon.png') }}" />
{% endblock %}

{% block title %} My Alfred {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">MyAlfred</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('get_smartphones') }}">Smartphones</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}