{% extends "_layout.html" %}

{% block content %}
<form>
    <label for="min-price">Price min</label>
    <input type="number" name="min-price" id="min-price"/>
    <label for="max-price">Price max</label>
    <input type="number" name="max-price" id="max-price"/>
    <label for="screen-size">{{ _('Screen size') }}</label>
    <input type="text" name="screen-size" id="screen-size"/>
    <button type="submit">{{ _('Filter') }}</button>
</form>


<table class="table">
    <thead>
    <tr>
        <th scope="col">{{ _('Picture')}}</th>
        <th scope="col">{{ _('Name') }}</th>
        <th scope="col">{{ _('Rank') }}</th>
        <th scope="col">{{ _('Screen size') }}</th>
        <th scope="col">{{ _('Price') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for phone in phones %}
    <tr>
        <td><img src="{{ '../../scraper/storage/images/' + phone.image_url | path_join }}"></td>
        <td>{{phone.name}}</td>
        <td>{{phone.rank}}</td>
        <td>{{phone.screen.diagonal}}"</td>
        <td>{{phone.get('price', 'N/A')}} {{ _('$') }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if page_count > 1 %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if current_page > 1 %}
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        {% endif %}
        {% for page_index in range(page_count) %}
        <li class="page-item">
            <a class="page-link" href={{url_for('get_smartphones', num_page=page_index)}}>
                {{page_index + 1 }}
            </a>
        </li>
        {% endfor %}
        {% if current_page < page_count %}
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}


{% endblock content %}

